.container{ 
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 0rem;
}

.profile_container img{
    width: 3rem;
    height: 3rem;
    border-radius: 1.5rem;
    object-fit: cover;
}

.tweet_content_container textarea{
    background-color: #000000;
    border: none;
    font-size: 1.4rem;
    font-weight: 300;
    font-family: "dm sans";
    color: #ffffff;
    margin-top: .5rem;
    outline: none;
    resize: none;
}

.reply_option_container{
    display: flex;
    align-items: center;
    gap: .5rem;
    color: #1da1f2;
    font-size: .9rem;
    font-weight: 700;
    cursor: pointer;
}

.features_container{
    border-top: 1px solid #ffffff2c;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}

.features{
    color: #1da1f2;
    display: flex;
    gap: 1.5rem;
    margin-top: .8rem;
    font-size: 0.9rem;
}

.post_button{
    color: #ffffff;
    background: #1da1f2;
    padding: .5rem 1rem;
    border: none;
    font-size: 1rem;
    border-radius: 1.2rem;
    margin-top: .8rem;
    cursor: pointer;
}