.container{
    padding-left: 18vmax;
    padding-top: 1rem;
    background: #000000;
    width: 33%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5vmax;
    border-right: 1px solid #4c4c4cae;
    position: fixed;
    left: 0;
    top: 0;
}

.logo_container{
    width: 3.5rem;
    height: 3rem;
    margin-left: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;
}

.logo_container:hover{
    background: #1b1b1b;
}

.logo{
    width: 2rem;
    cursor: pointer;
}

.link{
    color: #ffffff; 
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 300;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: .8rem 1.5rem;
    border-radius: 2rem;
    transition: all .2s ease-in-out;
}

.link:hover{
    background: #1b1b1b;
}

.link:nth-of-type(4) img{
    width: 1.5rem;
}

.post_btn{
    color: #ffffff;
    background:#1da1f2;
    border: none;
    border-radius: 1.5rem;
    font-size: 1.2rem;
    padding: 1rem 0rem;
    width: 14rem;
    cursor: pointer;
}

.logout_btn{
    color: #ffffff;
    background:transparent;
    border: 1px solid #70a9cc48;
    border-radius: 1.5rem;
    font-size: 1.2rem;
    padding: 1rem 0rem;
    width: 14rem;
    cursor: pointer;
    transition: .2s all ease-in-out ;
}

.logout_btn:hover{
    background-color: #70a9cc13;
}

@media(max-width: 1440px){
    .container{
        width: 25%;
        padding-left: 5vmax;
    }
}