.container{
    width: 33%;
    padding-top: 1rem;
    padding-left: 2rem;
    background: #000000;
    border-left: 1px solid #4c4c4cae;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


@media(max-width: 1440px){
    .container{
        width: 32%;
    }
}